URL: https://app.gpv.gg/?p=1&s=1

W-H: 850 x 650

CSS: 

/*BEGIN Xbox One Controller Styling*/

.controller.xbox {
    background: url(https://imgur.com/s7aCbFS.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.disconnected {
    background: url(xbox-assets/disconnected.svg);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(https://imgur.com/nhHJd3N.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(https://imgur.com/DmRlSB8.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
}

.xbox .quadrant {
    position: absolute;
    background: url(https://imgur.com/0TV7eHT.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(https://imgur.com/OGFaGaq.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(https://imgur.com/eA5vHkM.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(https://imgur.com/3hKWBuD.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 113px;
    left: 288px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(https://imgur.com/UQcp8yO.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/* ===============================
   XBOX CYBER RED CORE
   =============================== */

/* BASE: POWERED CORE */
.xbox {
    background: no-repeat center;
    position: center;
}

.xbox::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center,
        rgba(255,0,0,0.35) 0%,
        rgba(255,0,0,0.15) 25%,
        transparent 55%);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: coreThrob 2.2s infinite ease-in-out;
}

@keyframes coreThrob {
    0%, 100% { opacity: 0.4; }
    50% { opacity: 0.85; }
}

/* SHARP EDGE GLOW (NOT BLURRY) */
.xbox * {
    filter: drop-shadow(0 0 3px rgba(255,0,0,0.6));
}

// BUTTON PRESS = DIGITAL SNAP
.xbox .button.pressed,
.xbox .face.pressed,
.xbox .bumper.pressed {
    animation: snapPress 0.12s steps(2) forwards;
}

@keyframes snapPress {
    0% {
        transform: translateY(0);
        filter: drop-shadow(0 0 0 rgba(255,0,0,0));
    }
    50% {
        transform: translateY(2px);
        filter: drop-shadow(0 0 10px rgba(255,0,0,1));
    }
    100% {
        transform: translateY(0);
        filter: drop-shadow(0 0 5px rgba(255,0,0,0.6));
    }
}

/* TRIGGERS = LASER HEAT */
.xbox .trigger {
    opacity: 0;
    transition: opacity 0.05s linear;
}

.xbox .trigger:not([style*="opacity: 0"]) {
    opacity: 1;
    filter:
        drop-shadow(0 0 12px rgba(255,0,0,1))
        drop-shadow(0 0 24px rgba(255,0,0,0.8));
}

/* ANALOG STICKS = ENERGY RING */
.xbox .stick {
    border-radius: 50%;
}

.xbox .stick.pressed::after {
    content: "";
    position: absolute;
    inset: -6px;
    border: 2px solid rgba(255,0,0,0.9);
    border-radius: 50%;
    animation: ringExpand 0.35s ease-out;
}

@keyframes ringExpand {
    from {
        opacity: 1;
        transform: scale(0.6);
    }
    to {
        opacity: 0;
        transform: scale(1.4);
    }
}

/* DPAD = DIRECTIONAL BLAST */
.xbox .face.pressed {
    box-shadow:
        inset 0 0 10px rgba(255,0,0,0.8),
        0 0 12px rgba(255,0,0,0.8);
}

/* XBOX LOGO = HEARTBEAT PULSE */
.xbox .quadrant {
    animation: heartbeat 1.4s infinite;
}

@keyframes heartbeat {
    0%   { transform: scale(1); }
    15%  { transform: scale(1.15); }
    30%  { transform: scale(1); }
    45%  { transform: scale(1.12); }
    100% { transform: scale(1); }
}

/* OPTIONAL: OVERCLOCK MODE */
.xbox.overclock * {
    animation-duration: 0.6s !important;
}


/*END Xbox One Controller Styling*/